/* style.css */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="text"] {
    font-size: 100%;
    font-weight: bold;
}

/* Stlyes the Container */
.containerOne {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    margin: 5%;
    padding: 10px;
}

/* Stles the Buttons */
button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #25bea5;
    border-radius: 8px;
    border: 0;
    padding: 20px;
    box-shadow: gray;
}

button:hover {
    background-color: aquamarine;
}

/* Style for Timer */
.headerTimer {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* Styles for Paragraph */
p {
    justify-content: center;
    margin: 12px 12px;
}

/* Controls which page you can see by removing and adding class */
.hidden {
    display: none;
}